@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fff !important;
    position: relative;
}

.pembungkus {
    display: flex;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.pembungkus .content {
    display: flex;
    background-color: #eee;
    width: 80%;
    height: 85%;
    position: relative;
    padding: 10px;
    flex-direction: column;
}

.content .info {
    position: absolute;
    top: -5%;
    right: 1%;
    width: 500px;
    height: auto;
    background-color: #4481eb;
    display: flex;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
}

.content .title {
    display: inline-flex;
    width: 60%;
    height: 4rem;
    padding-left: 10px;
    text-align: start;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: #acacac;
}

.content .calon {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.card:hover{
    transform: scale(1.1);
}

.calon .card.active{
    transform: scale(1.1);
}
