@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fff !important;
    position: relative;
    overflow: hidden;
}

.header {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #04befe;
    align-items: center;
}

.header .logo {
    height: 70%;
    font-size: 2rem;
    color: #fff;
    /* background-color: rebeccapurple; */
    margin-left: 100px;
}

.header .logo i {
    transform: rotate(350deg);
}

.header .poweredby {
    height: 70%;
    margin-right: 100px;
    font-size: 1.2rem;
    align-items: center;
    display: flex;
    /* background-color: aquamarine; */
    color: #fff;
}

.header .poweredby .smp {
    width: 70px;
    height: 70px;
    /* background-color: #fff; */
    padding: 5px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}

.header .poweredby .osis {
    width: 70px;
    height: 70px;
    /* background-color: #fff; */
    padding: 5px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}

.img-fluidd {
    width: auto;
    height: 80%;
}

.informasi {
    position: absolute;
    top: 0;
    right: -20px;
    width: 250px;
    /* background-color: red; */
    transform: translate(0, 45%);
    border: 3px solid #04befe;
    border-radius: 20px;
    text-align: center;
}

.informasi .img {
    margin: 2rem 0 10px 0;
    display: flex;
    height: 120px;
    justify-content: center;
}


.footer {
    height: 40px;
    width: 100%;
    background-color: #4481eb;
    color: #fff;
    font-size: 1rem;
    text-align: center;
}

.footer p {
    margin-top: 5px;
}
.pembungkus {
    display: flex;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    position: relative;
}

.pembungkus .content {
    display: flex;
    width: 65%;
    position: absolute;
    padding: 10px;
    flex-direction: column;
    margin-left: 100px;
}

/* .content .info {
    position: absolute;
    top: -5%;
    right: 1%;
    width: 500px;
    height: auto;
    display: flex;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
}

.content .title {
    display: inline-flex;
    width: 60%;
    height: 4rem;
    padding-left: 10px;
    text-align: start;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: #acacac;
}

.content .calon {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.card:hover{
    transform: scale(1.1);
}

.calon .card.active{
    transform: scale(1.1);
}

.terimakasih {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    line-height: 3rem;
}

@media (max-width: 720px) {
    .content {
        transform: scale(1.2);
    }

    .terimakasih {
        font-size: 1rem;
        line-height: 1.2rem;
    }
} */
